<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>图书编号</th>
        <th>图书名称</th>
        <th>图书价格</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book:${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.price}"></td>
        <td>
            <a th:href="@{/turnUpdatePage(id=${book.id})}">修改</a>
            <a th:href="@{/deleteById(id=${book.id})}">删除</a>
        </td>
    </tr>
    </tbody>
</table>
<a href="/turnInsertPage">添加</a>
</body>
</html>