<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<form action="/insertBook" method="post">
    图书编号:<input type="text" name="id"><br/>
    图书名称:<input type="text" name="title"><br/>
    图书价格:<input type="text" name="price"><br/>
    <input type="submit" th:value="Submit">
</form>
</body>
</html>